head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Stellarity Software develops addons for JIRA, Bamboo and other tools.")
    meta(name="keywords", content="software,development,jira,bamboo,confluence,addon,plugin,tfs,powershell")
    title= getPageTitle()
    //- != getBlock("meta").toHTML()
    != getBlock("styles").toHTML()
    link(rel="stylesheet", href="/css/font-awesome.min.css")
    link(rel="stylesheet", href="/css/foundation.min.css")
    link(rel="stylesheet", href="/css/magnific-popup.css")
    link(rel="stylesheet", href="/css/app.css?v=4") 
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Droid+Sans:700")
    link(rel="icon", href="/favicon.ico", type="image/x-icon")