doctype html
html.no-js.antialiased(lang="en")
    include head
    body
        //- Top-bar
        include top-bar
        //- Content
        block pageBody
        //- Footer
        include footer