---
layout: simple
pageName: Home
---

//- Header
#hero-slogan.text-center
    h1 Addons for 
        em JIRA
        |, 
        em Bamboo 
        | and other tools
    h4 Connecting different worlds 
        b together
        |  and making them
        b  better!
img(alt="stellarity software", title="Stellarity Software", src="/img/stellarity-banner.gif")#hero-image
#how-do-we-work
    .row.text-center.title-row
        h2 How do we work
    .row.text-center
        .medium-4.columns
            img(alt="public and open", src="/img/bubbles.png")
            h3 Public and Open
            p We are tending to be as open as possible. We have public issue trackers and wikis for all 
                a(href="/products.html") our products
                | . We are not afraid of being honest with ourselves and our customers.
        .medium-4.columns
            img(alt="love what we do", src="/img/heart.png")
            h3 Love What We Do
            p We create computer software. We love all the complex machinery which lies behind this. We are always trying to reach high quality standards to be really proud of our work.
        .medium-4.columns
            img(alt="quick support", src="/img/screwdriver.png")
            h3 Quick Support
            p As a small company we have a very short decision path and can quickly react on any customer issues. We value each of our customers and want them to be happy with us.
#our-customers
    .row.text-center.title-row
        h2 Our customers
    .row.text-center.logos-row
        .medium-2.columns
            a(href="http://www.geosoft.com")
                img(alt="geosoft", src="img/logos/geosoft.png")
        .medium-2.columns
            a(href="http://www.deluxedigital.co.uk")
                img(alt="deluxedigital", src="img/logos/delux-digital.png")
        .medium-2.columns
            a(href="http://www.luckie.com")
                img(alt="luckie", src="img/logos/luckie-co.png")
        .medium-2.columns
            a(href="http://www.activerisk.com")
                img(alt="activerisk", src="img/logos/active-risk.png")
        .medium-2.columns
            a(href="http://www.worldnow.com")
                img(alt="worldnow", src="img/logos/worldnow.png")
        .medium-2.columns
            a(href="http://www.eyc.com")
                img(alt="eyc", src="img/logos/seyc.png")
    .row.text-center.logos-row
        .medium-2.columns
            a(href="http://nativex.com")
                img(alt="nativex", src="img/logos/nativeX.png")
        .medium-2.columns
            a(href="https://www.franklintempleton.com")
                img(alt="franklintempleton", src="img/logos/franklin.png")
        .medium-2.columns
            a(href="http://www.newyorklife.com")
                img(alt="newyorklife", src="img/logos/nylife.png")
        .medium-2.columns
            a(href="http://sls.net")
                img(alt="sls", src="img/logos/sls.png")
        .medium-2.columns
            a(href="http://www.adp.com")
                img(alt="adp", src="img/logos/adp.png")
        .medium-2.columns
            a(href="https://www.ristken.com")
                img(alt="ristken", src="img/logos/ristken.png")
    .row.text-center.logos-row
        .medium-2.columns.medium-offset-4
            a(href="http://yp.com")
                img(alt="yp", src="img/logos/yp.png")
        .medium-2.columns.end
            a(href="https://www.unbound.org")
                img(alt="unbound", src="img/logos/unbound.png")