---
layout: article
summary: Things we can do for you
---
    
.service
    .row
        .columns
            h2#addon-development Addon Development
    .row
        .medium-3.columns
            img(alt="happy addon", src="/img/happy-addon.gif")
        .medium-9.columns
            h3 A new shiny addon from your idea
            p Do you need a specific addon? Or maybe you have a brilliant addon idea?
            p Contact us and we will do our best in developing a new addon. It is free for you if addon ownership remains to us.
.service
    .row
        .columns
            hr
            h2#addon-support Addon Support
    .row
        .medium-3.columns
            img(alt="broken addon", src="/img/broken-addon.gif")
        .medium-9.columns
            h3 Improvements and bugfixes for your addons
            p Do you have an existing addon that needs to be updated, fulfilled with new features and bugfixes? Or you want to take care of an opensource addon? 
            p Contact us and we will do our best in supporting any existing codebase.