---
layout: article
summary: Let us help you
---

.row.columns
    :markdown-it
        ### Issue tracker
        All our products have public issue trackers and the best way to notify us about any issues is to post them there. Issue tracker url can be found on a [product page](/products.html). 
        
    p Also you can 
        a(href=getProtectedEmailLink("support@stellaritysoftware.com"), onfocus=getEmailProtectionCode() onMouseOver=getEmailProtectionCode()) write us
        |  and we'll take care about issue tracking for you.
    :markdown-it
        ***
        ### Wiki
        All our products have public wikis. Wiki url can be found on a [product page](/products.html).
        ***
        ### Thanks for you feedback
        We are constantly improving our products and our customers help us to do it faster. Thanks everyone for all your feedbacks!