---
layout: article
summary: Let us help you
---

.row
    .columns
        h2 Issue tracker
        p All our products have public issue trackers and the best way to notify us about any issues is to post them there. Issue tracker url can be found on a product page. Also you can 
            a(href=getProtectedEmailLink("support@stellaritysoftware.com"), onfocus=getEmailProtectionCode() onMouseOver=getEmailProtectionCode()) write us
            |  and we create an issue for you!
        hr
        h2 Wiki
        p All our products have public wikis. Wiki url can be found on a product page.
        hr
        h2 Thanks for you feedback
        p We are constantly improving our products and our customers help us to do it faster.
            | Thanks everyone for all your feedbacks!