---
layout: article
summary: Let us help you
---

.row.columns
    :markdown-it
        ## Service level agreement (SLA)
        We will respond to all support requests within 1 business day (24 hours). In case you don't get a response within the specified timeline please use another support channel.
        ***
        ## Support channels
        ### Issue tracker
        All our products have public issue trackers. This is the best way to notify us about any issues or ask questions. The issue tracker url can be found on the product page for each of the [products](/products.html).
        ### Email
    p
        a(href=getProtectedEmailLink("support@stellaritysoftware.com"), onfocus=getEmailProtectionCode() onMouseOver=getEmailProtectionCode()) Email
        |  is also a good support channel. Especially if you're concerning about privacy and don't want to share your question with the world. Be aware that emails may be marked as spam by aggressive spam filters!
    :markdown-it
        ### Wiki       
        All our products have public wikis (documentation). You can't ask questions there but there may be some answers. The wiki url can be found on the product page for each of the [products](/products.html).