.toc
    background: #f5f5f5    
    ul
        border: 1px solid #ddd
        padding-top: 0.75rem
        padding-bottom: 0.75rem
        li a
            padding-top: 0.5rem
            padding-bottom: 0.5rem

.toc-level-1
    padding-left: 0rem
    
.toc-level-2
    padding-left: 0rem
    
.toc-level-3
    padding-left: 0.75rem
    
.toc-level-4
    padding-left: 1.5rem
    
.banner
    width: 100%
    
pre code
    display: block

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transform: scale(0.95)
  transition: all 0.3s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 0;
  transform: scale(1)
}

.mfp-fade.mfp-wrap.mfp-ready.mfp-image-loaded .mfp-content {
  opacity: 1;
  transform: scale(1)
}

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing.mfp-image-loaded .mfp-content {
  opacity: 0;
  transform: scale(0.95)
}    


h1, h2, h3, h4, h5, h6
    color: #255380;
    font-family: Droid Sans, Arial, sans-serif;

p
    a:hover
        text-decoration: underline;

.scroll-to-top
    position: fixed; 
    background: url('/img/scroll-to-top.png') no-repeat;
    cursor: pointer; 
    width: 55px; 
    height: 55px; 
    bottom: 1rem; 
    right: 1rem;
    padding-right: 1em; 
    display: none; 
    z-index: 999;

$top-bar-backround = #111
$top-bar-backround-active = #12263a

.is-drilldown
    background-color: $top-bar-backround

.top-bar
    background-color: $top-bar-backround
    padding: 0
    height: 3rem
    input[type="text"]
    a.button
        height: 1.9rem;
    .is-dropdown-submenu        
        border-style: none
        padding-top: 0rem
    .is-accordion-submenu li
        padding-left: 1rem
    ul 
        background-color: $top-bar-backround
        li
            //border-top: solid 1px #222
            background-color: $top-bar-backround
            a
                padding-top: 1rem
                padding-bottom: 1rem
                color: #fff
                background-color: $top-bar-backround
                //border-left: 4px solid $top-bar-backround
                &:hover
                    background-color: $top-bar-backround-active
            &:hover
                background-color: $top-bar-backround-active
                //border-left: 4px solid #255380
    .is-active > a    
        background-color: $top-bar-backround-active
        //border-left: 4px solid #255380
    h1
        padding-top: 0.5rem 
        margin: 0       
        font-size: 1.1rem;
        a
            width: inherit;
            padding-left: 8px;
            color: #fff
            //font-size: 1rem;
            img
                width: 24px;
                margin-right: 4px;
                padding-bottom: 2px;

#hero-slogan
    padding: 0.5rem 0 1rem;
    background: #00a0e3;
    h1, h4
        color: #fff;
        font-family: Arial, sans-serif;
    b, em
        color: #a5ffcd;
        font-style: normal;
    h1
        font-size: 1.9rem;
    @media only screen and (min-width: 40em)
        h1
            font-size: 2.2rem;        
    @media only screen and (min-width: 50em)
        h1
            font-size: 2.5rem;
    @media only screen and (min-width: 60em)
        h1
            font-size: 3rem;
    @media only screen and (min-width: 70em)
        h1
            font-size: 3.5rem;

#hero-image
    width: 100%;
    border-bottom: 2rem solid #5cbf14;

#how-do-we-work, #our-customers
    h2
        font-size: 3rem;
    @media only screen and (min-width: 40.063em)
        h2
            font-size: 4rem;

#how-do-we-work
    padding-top: 3rem;
    padding-bottom: 5rem;
    background: #cff;
    border-top: 4px dotted #5cbf14;
    h2, h3
        color: #315153;
    img
        padding-bottom: 1rem;
        width: 128px;
    div.title-row
        padding-bottom: 3rem;

#our-customers
    padding-top: 3rem;
    padding-bottom: 5rem;
    background: #48BFE8;
    border-top: 4px dotted #cff;
    div.logos-row
        padding: 1.5rem 0 1.5rem;
        div.columns
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            a
                transition: opacity 0.3s;
            a:hover
                opacity: 0.5;
        div.columns + div.columns
            border-left: 1px solid rgba(255, 255, 255, 0.2);
    div.logos-row + div.logos-row
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    div.title-row
        padding-bottom: 2em;

footer
    padding-top: 2rem;
    background: $top-bar-backround;
    color: #fff;
    h2, h3, h4, h5, h6
        color: inherit;
    > .row
        padding-left: 6rem;
        > .columns
            min-height: 10rem;
            margin-bottom: 1.5rem;
            border-left: 1px solid rgba(255, 255, 255, 0.2);        
    ul.home-social
        width: 150px;
        margin-left: 0;
        li 
            display: block;
            float: left;
            list-style: none;
            a
                display: block;
                width: 50px;
                height: 50px;
                transition: opacity 0.3s;
            a:hover
                opacity: 0.5;
            a.email
                background: url('/img/icons/email.png');
                background-size: 100%;
            a.linkedin
                background: url('/img/icons/linkedin.png');
                background-size: 100%;
            a.twitter
                background: url('/img/icons/twitter.png');
                background-size: 100%;
            a.google-plus
                background: url('/img/icons/google-plus.png');
                background-size: 100%;
            a.facebook
                background: url('/img/icons/facebook.png');
                background-size: 100%;

#copyright
    padding: 0 0 1.5rem 0

#page
    min-height: 78%;
    header
        padding: 1rem 0 1.5rem;
        background: #98cfe3;
        border-bottom: solid 1px #ddd;
        .breadcrumbs
            margin: 0;
            padding: 0 0 0.5rem;
            border: none;
            background: inherit;
            li:not(:last-child):after
                color: #888;
            li a
                color: #888;
                //- text-transform: none;
            li.current a
                color: #444;
        h1
            margin: 0;
            font-weight: bold;
        .subheader
            margin: 0;
            color: #444;
    img.addon-logo
        margin: 0.5rem 1rem 0.75rem 0;
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 6px;
        padding: 5px;
        width: 84px;
    #content
        padding: 1.5rem 0;
        h2, h3, h4, h5, h6
            padding-top: 0.5rem;
        hr
            margin: 2rem 0 1rem;
            border: dashed #ddd;
            border-width: 2px 0 0;
        table.addon-table
            width: 100%;
            border: none;
            background: none;
            tbody
                border: none
            tr
                background: none;
                td.addon-logo-cell
                    width: 110px;
                td.addon-name-cell
                    .subheader
                        margin-bottom: 0;
                        color: #444;
                    a
                        font-size: 1.75rem;
                        font-weight: bold;
            tr + tr
                td
                    border-top: dashed 1px #ddd;

#where-we-are-body
    padding-top: 1rem;
    i
        margin-top: 3rem;
        font-size: 3rem;
        color: #255380;

#who-we-are-body
    padding-top: 1rem;
    .member-image
        padding-right: 0;
        img
            width: 120px;
            border-radius: 50%;
            border: solid 1px #255380;
    .member-description
        padding-top: 1rem;
        a
            transition: opacity 0.3s;
        a:hover
            opacity: 0.75;
        img
            width: 32px;

#error-404
    min-height: 60%;
    margin-top: 10%;
    font-size: 2rem;
    h1
        font-size: 5rem;
    hr
        margin: 2rem 0 2rem;

#top-notice
    div
        margin-bottom: 0;
    p
        font-size: 0.75rem;
        margin-bottom: 0;
